@model EditProductViewModel

@{
    ViewBag.Title = $"Edit {Model.Name}";
    Layout = "_Layout";
}

<header class="mt-5">
    <h2>Edit @Model.Name</h2>
</header>
<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ShortDescription" class="control-label"></label>
        <input asp-for="ShortDescription" class="form-control"/>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group mb-3" disabled hidden>
        <label asp-for="LongDescription" class="control-label"></label>
        <textarea asp-for="LongDescription" class="form-control" rows="3"></textarea>
        <span asp-validation-for="LongDescription" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="Save Changes" class="btn btn-primary"/>
    </div>
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="alert alert-danger mb-3">
            @ViewData["Error"]
        </div>
    }
    @if (ViewData.ContainsKey("Success"))
    {
        <div class="alert alert-success mb-3">
            @ViewData["Success"]
        </div>
    }
</form>

