@model CreateAccountViewModel

@{
    ViewBag.Title = "Create Account";
    Layout = "_Layout";
}

<style scoped> 
    .alert > ul {
        margin: 0 !important;
    }
</style>

<div class="text-center mb-3">
    <h2>Create Account</h2>
</div>
<form method="post" asp-action="CreateAccount" class="m-auto" style="max-width: 40rem;">
    <div class="row row-cols-sm-1 row-cols-md-2">
        <div class="col form-group mb-3">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col form-group mb-3">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control"/>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="EmailAddress" class="control-label"></label>
        <input asp-for="EmailAddress" class="form-control"/>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="w-100 btn-group mb-3">
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
    <div class="mb-3">
        <a asp-action="Login" class="link-primary">I already have an account</a>
    </div>
    <div class="alert alert-danger mb-3" asp-validation-summary="All"></div>
</form>
