@model WebApplication1.ViewModel.PlaceOrderViewModel

@{
    ViewBag.Title = "Place Order";
    Layout = "_Layout";
}

<div class="mb-3">
    <h2>Place Order</h2>
</div>
<div class="row row-cols-md-1 row-cols-lg-2">
    <div class="col">
        <p>Left</p>
    </div>
    <div class="col">
        <p>Right</p>
    </div>
</div>