@{
    ViewBag.Title = "Order Success";
    Layout = "_Layout";
}

<div class="alert alert-success" style="max-width: 25rem;">
    <h2>Order Successfully Paid!</h2>
    <p class="mb-0">Thanks for shopping at Coles.</p>
</div>